<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Descifrar</title>
  <style>
    body {
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    
    .uno{
      float: left;
      margin: 15px;
    }

    .dos{
      float: right;
      margin: 15px;
    }

    .cifrado{
      float: left;
      margin-left: 120px;
    }

    footer{
      position: relative;
      margin-top: 45rem;
      margin-left: 100rem;
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="uno">
      <h1>DESCIFRADO</h1>

      <form action="/descifrar" method="POST">

        <div class="mb-3">
                
          <label for="file" class="form-label">Ingrese el archivo txt a descifrar</label>
          <input type="file" id="file" name="file">
        </div>
        <div class="mb-3">

          <label for="text" class="form-label">Ingrese contraseña:</label>
          <input id="text" name="text" type="text" class="form-control"
            value="<% if(typeof newValores != 'undefined') { %><%= newValores.text %><%}%>"
            minlength="16"
            maxlength="32">
        </div>
        
        <div class="mb-3">
          <label for="type" class="form-label">Ingrese el tipo de cifrado</label>
          <select name="type" class="select" required >
                              <option  selected="true" value='' disabled hidden >
                                 Ingrese el tipo de cifrado.
                              </option>
            <option value="AES" id="AES">AES-CBC</option>
          </select>
        </div>
        
          <button type="submit" i class="btn btn-dark">Desencriptar</button>
          <br>
    </div>
        </form>
        <br>

        <%if(typeof newValores !='undefined' ) {%>
        
         
        
          <%}%>

    <!-- Toasts -->
    <!-- TOASTS -->
    <% if(typeof validaciones !='undefined' ) { %>
      <% validaciones.forEach( (validacion)=> { %>
        <div class="toast-container">
          <div class="toast" role="alert" aria-live="assertive" data-bs-autohide="false">
            <div class="toast-header">
              <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#007aff"></rect>
              </svg>
              <strong class="me-auto">¡Atención!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <strong>
                <%= validacion.msg %>
              </strong>
            </div>
          </div>
        </div>
        <% }) %>
          <% }else{ %>
      <div class="cifrado">
        <br>
        Mensaje: <% if(typeof newValores !='undefined' ) { %>
          <%= newValores.decrypted %>
            <%}%>
            <br>
          Contraseña: <% if(typeof newValores !='undefined' ) { %>
            <%= newValores.text %>
              <%}%>
<% if(typeof newValores !='undefined' ) { %>

  <br>
        <a href="/descifrar/descargar/<%= newValores.filename%>" type="button" class="btn btn-dark">Descargar texto</a>

    <%}%>

          
      </div>


            <%}%>
            
  </div>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
      });
      toastList.forEach(toast => toast.show());
    });
  </script>

  <footer>
    <a href="./index.ejs" type="button" class="btn btn-outline-dark">Volver</a>
  </footer>

</body>

</html>